{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - CodePenChallenge: 403 Forbidden</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Squada+One'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,600'>
    <link rel="stylesheet" href="{% static 'css/specific_static.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<p>Welcome to 403:</p>
<h1>Forbidden resource</h1>
<p>The server understood the request but refuses to authorize it.</p>

<!-- partial -->
<!-- <script  src="./script.js"></script> -->
<!-- <hr><hr><hr>
<img src="{% static 'images/3Ls.jpeg' %}" alt="Alt image not found">
<img src="{% static 'images/different.jpg' %}" alt="Alt image not found">
<img src="{% static 'images/liar.jpg' %}" alt="Alt image not found">
<img src="{% static 'images/love.jpg' %}" alt="Alt image not found">
<img src="{% static 'images/me2.jpeg' %}" alt="Alt image not found">
<img src="{% static 'images/moon.png' %}" alt="Alt image not found"> -->
</body>
</html>
